.env
.env.production
node_modules/
vendor/
.git/
.gitignore
!docker/
*.sqlite
*.log
storage/app/public/avatars/*
!storage/app/public/avatars/.gitkeep
storage/app/public/media/*
!storage/app/public/media/.gitkeep
storage/framework/cache/**
!storage/framework/cache/.gitkeep
storage/framework/sessions/**
!storage/framework/sessions/.gitkeep
storage/framework/views/**
!storage/framework/views/.gitkeep
storage/logs/*
!storage/logs/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
public/build/
public/hot
public/storage
